<footer id="footer">
    
    <div class="info">
        <h3 (click)="inicio()">DreamSkin</h3>
        <p (click)="inicio()">Salta, Capital</p>
    </div>

    <div class="social-info">
        <a href="https://www.instagram.com/dreamskin.salta" target="_blank"><i class="fa-brands fa-instagram"></i> dreamskin.salta</a>
        <a href="https://www.instagram.com/camii_sonris" target="_blank"><i class="fa-brands fa-instagram"></i> camii_sonris</a>
        <a href="https://wa.me/+543874698304?text=Hola,%20quiero%20saber%20mas%20sobre%20la%20depilaci%C3%B3n%20laser." target="_blank"><i class="fa-brands fa-whatsapp"></i> 3874698304</a>
    </div>
                
    
    
    
    
</footer>
