<div id="cuidados">
    <section id="caution">
        <img src="../../../assets/images/aaaaas.jpg" alt="cuidados">
        <div>
            <h1>Cuidados y precauciones</h1>
        </div>
    </section>

    <section id="caution-2">
        <div>
            <article>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deleniti reprehenderit nemo vitae earum dolore, possimus eum sunt et commodi necessitatibus culpa? Neque voluptatem accusamus aperiam quam deserunt, suscipit nemo.</p>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam exercitationem optio quisquam quas vero voluptatum id natus, similique quaerat eos ab repudiandae veritatis beatae laudantium molestiae provident cupiditate magnam dolore.</p>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, accusantium? Fugiat ullam magnam optio repellendus officia. Repellat corporis sit impedit perspiciatis eligendi sunt sed atque et doloribus deleniti, numquam corrupti.</p>
            </article>
        </div>
            

        <img src="../../../assets/images/14-h2.webp" alt="cuidados">
        
    </section>
</div>