<div id="inicio">
    <section id="ice-legend">
        <img src="../../../assets/images/icelegend-PRO-Diodo-laser.jpg" alt="Ice Legend Pro Eternity">
        <div>
            <h1>Depilacion Laser - Icelegend PRO</h1>
            <p>Laser con 3 longitudes de onda, con efecto frio que hace indoloras las aplicaciones. Los resultados con este Láser son visibles desde la primera sesión. Cada tratamiento tiene una duración de 6, 8 o 10 sesiones, dependiendo del sexo, el color de la piel y las condiciones fisiológicas y hormonales de cada paciente.</p>
        </div>
    </section> 

    <section id="process">
        <div>
            <h2>Aplicación</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat necessitatibus maiores voluptate. Praesentium culpa illum laboriosam enim. Amet dolorum fugiat id provident itaque. Earum, cupiditate unde officia ab sapiente odio?</p>
        
            <h2>Resultados</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellat architecto doloremque adipisci? Quod, iste assumenda? Expedita adipisci nobis voluptate error itaque in ea esse qui, voluptatem dignissimos quas dolorum.</p>
        </div>
        <img src="../assets/images/assetsDreamSkin1.webp" alt="depilacion">
    </section>
    <section id="section-3">
        <div>
            <h2>Tratamiento</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate blanditiis eum sit eius assumenda aliquam, libero deserunt dicta commodi ut mollitia pariatur consectetur necessitatibus facere corporis harum voluptatum! Eaque, fugit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tempore accusamus earum sint et hic, magnam incidunt, praesentium corrupti unde sapiente quisquam velit excepturi placeat voluptatem maiores odit. Nostrum, molestias!
            </p>
        </div>
    </section>
</div>